.app {
  display: flex;
}

.main {
  flex-basis: 60px;
  display: flex;
  flex-direction: column;
  /* background-color: gray; */
}

.Penginapan {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.peta {
  flex-grow: 1;
  height: 100yh;
  top: 0;
  position: sticky;
  /* background-color: steelblue; */
}

.cari {
  padding: 10px;
  margin-right: 5px;
}

.cari input {
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  color: #9991;
  width: 100%;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
